<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    .nav-item {
        text-align: center;
    }

    .nav-item span {
        display: block;
    }

    .top-right {
        position: absolute;
        top: 0;
        right: 0;
    }


    .logout-btn {
        margin-left: 10px;
    }

    .username {
        top: 7px;
        position: relative;
    }

    .xmr {
        position: relative;
        top: 17px;
        left: 54%;
        color: orange;
    }
</style>
<script>
//   window.onload = function () {
//         fetchXmrPrice();
//         fetch('/routes/fetch_public_key')
//             .then(response => response.json())
//             .then(data => {
//                 if (data.error) {
//                     window.location.href = '/logout';
//                 } else {
//                     document.getElementById('username').innerText = data.displayName;
//                 }
//                 if(data.utype === 'v'){
//                     console.log("hello");
//                     var addPro = document.createElement('li');
//                     addPro.classList.add('nav-item');
//                     addPro.style.position = 'relative'; 
//                     addPro.style.right = '13%';
//                     addPro.innerHTML = `
//                         <a href="/CreateProduct" class="nav-link text-secondary">
//                             <span class="material-symbols-outlined">shopping_cart</span>
//                             add product
//                         </a>
//                     `;
//                     var headerNav = document.querySelector('.nav');
//                     headerNav.appendChild(addPro);
//                 }else if(data.utype === 'b'){
//                     console.log("hello");
//                     var newItem = document.createElement('li');
//                     newItem.classList.add('nav-item');
//                     newItem.style.position = 'relative'; 
//                     newItem.style.right = '13%';
//                     newItem.innerHTML = `
//                         <a href="#" class="nav-link text-secondary">
//                             <span class="material-symbols-outlined">price_change</span>
//                             add product
//                         </a>
//                     `;
//                     var headerNav = document.querySelector('.nav');
//                     headerNav.appendChild(newItem);
//                 }
//             })
//             .catch(error => {
//                 console.error('Fetch error:', error);
//             });
//     };
</script>
<header>
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        <span class="material-symbols-outlined">home</span>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-secondary">
                        <span class="material-symbols-outlined">dashboard</span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="listProd" class="nav-link text-secondary">
                        <span class="material-symbols-outlined">inventory_2</span>
                        Products
                    </a>
                </li>
                <li class="nav-item top-right">
                    <a href="#" class="username nav-link text-secondary d-inline-flex">
                        <span class="material-symbols-outlined">person</span>
                        <span id="username"></span>
                    </a>
                    <button type="button" class="logout-btn btn btn-primary d-inline" onclick="logout()">Logout</button>
                </li>
                <li class="xmr nav-item">
                    <span id="xmr-price" class="mr-3"></span>
                </li>
            </ul>
        </div>
    </div>
</header>